<div
        xmlns:th="http://www.w3.org/1999/xhtml"
        th:fragment="form_container">
    <form
            class="form"
            action="#"
            th:action="@{${post_uri}}"
            method="post"
            th:object="${word}"
    >

        <input
                type="hidden"
                th:value="${word.id}"
                th:field="*{id}"
                readonly="readonly"
        />
        <input
                type="text"
                id="title"
                placeholder="title"
                th:value="${word.title}"
                th:field="*{title}"
        />

        <table id="table">

            <tr>
                <th>Language</th>
                <td>
                    <select
                            th:field="*{language}"
                            th:replace="fragments/langs_selection.html :: langs_selection (langs=${langs}, selected_lang=${word.language})"
                    ></select>
                </td>
            </tr>

            <tr>
                <th>Translation</th>
                <td>
                    <input
                            type="text"
                            placeholder="translation"
                            id="translation"
                            class="as_p_input"
                            th:value="${word.translation}"
                            th:field="*{translation}"
                    />
                </td>
            </tr>

            <tr>
                <th>Created</th>
                <td>
                    <input
                            th:value="${word.localDateTime}"
                            th:field="*{localDateTime}"
                            placeholder="auto filled"
                            class="as_p_input"
                            readonly="readonly"
                    />
                </td>
            </tr>

        </table>

        <textarea
                type="text"
                placeholder="Description"
                id="description"
                class="as_p_input"
                th:value="${word.description}"
                th:field="*{description}"
        ></textarea>

        <script>
            function addUseCase() {
                const ul = document.getElementById("useCasesUl");
                const childrenN = ul.children.length;
                const child = document.createElement("li");

                child.classList.add("use_case_li", "db");

                child.innerHTML = `
                    <textarea
                        type="text"
                        name="useCases[${childrenN}]"
                        class="as_p_input modest_input use_case_textarea pd-10"
                    ></textarea>
                    <button type="button" onclick="removeUseCase(this)" class="btn btn_regular">Remove</button>
                `;

                ul.appendChild(child);
            }

            function removeUseCase(button) {
                button.parentNode.remove();
            }
        </script>

        <div class="use_cases_container mt-10">
            <h3>Use cases:</h3>
            <ul id="useCasesUl">
                <li th:each="useCase, i : *{useCases}" class="use_case_li db">

                    <textarea
                            type="text"
                            th:name="'useCases[' + ${i.index} + ']'"
                            th:text="${useCase}"
                            class="as_p_input modest_input use_case_textarea pd-10"
                    ></textarea>
                    <button onclick="removeUseCase(this)" class="btn btn_regular">Remove</button>

                </li>
            </ul>
            <button type="button" onclick="addUseCase()" class="btn btn_regular">Add useCase</button>
        </div>

        <p id="hint"><b>Click on value to modify it</b></p>

        <div class="mt-10">
            <button type="submit" class="btn btn_primary">Save changes</button>
            <button type="reset" class="btn btn_regular">Reset</button>
        </div>

    </form>
</div>