:root {
    --general: rgb(51, 25, 25);
}

* {
    margin : 0;
    padding : 0;
}

.content {
    width : 70%;
    margin-left : 15%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.db {
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.header {
    background-color : var(--general);
    padding : 10px;
}
.header a {
    color: #ffff;
    text-decoration: none;
}

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;

    border: 1px solid var(--general);
    cursor: pointer;
}

.btn_regular {
    background-color: #ffff;

    color: var(--general);
}

.btn_primary {
    background-color: var(--general);
    color: #ffff;
}