.form {}
#title {
    font-size : 2em;
    font-weight : bold;

    border: none;
    display: inline;
    font-family: inherit;
    padding: none;
    width: auto;

    color: var(--general);
}
#table {
    text-align: left;
}
#table td {
    padding: 0 0 0 10px;
}
#description {
    margin-top: 15px;
    padding: 10px;

    background-color: rgb(234, 234, 234);
    border-radius: 10px;

    color: var(--general);
}
.use_cases_container {}
.use_case_li {
    padding: 5px 0;
}
#useCasesUl {
    list-style-position: inside;
}
.use_case_textarea {
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
}