<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/global.css">
    <title>WordsApp | New Word</title>
</head>
<body>

    <header th:insert="fragments/general.html :: header"></header>

    <div class="content mt-30">

        <h1>Create new word</h1>

        <form action="#" th:action="@{/words/new}" method="post" th:object="${word}">

            <table>
                <tr>
                    <th>Title</th>
                    <th>Translation</th>
                    <th>Description</th>
                    <th>Language</th>
                </tr>
                <tr>
                    <td>
                        <input
                                type="text"
                                placeholder="title..."
                                name="title"
                                th:field="*{title}"
                                id="title">
                    </td>
                    <td>
                        <input
                                type="text"
                                placeholder="translation..."
                                name="translation"
                                id="translation"
                                th:field="*{translation}">
                    </td>
                    <td>
                        <input
                                type="text"
                                placeholder="description"
                                name="description"
                                id="description"
                                th:field="*{description}">
                    </td>
                    <td>
                        <select th:field="*{language}">
                            <option value="">Please select</option>
                            <option
                                    th:each="lang : ${langs}"
                                    th:value="${lang.title}"
                                    th:text="${lang.title}"
                            ></option>
                        </select>
                    </td>
                </tr>
            </table>

            <button type="submit">Save!</button>
        </form>

    </div>

</body>
</html>