<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/word_card.css">
    <title>WordsApp | Word Card</title>
</head>
<body>
    <header th:insert="fragments/general.html :: header"></header>

    <div class="content mt-30">
        <h1 th:if="${word == null}">You are idiot : there is no such word</h1>
        <div th:unless="${word == null}">
            <form action="#" th:action="@{/words}" method="post" th:object="${word}">

                <input type="text" id="title" placeholder="title" th:value="${word.title}"/>
                <p>Translation: <input
                        type="text"
                        placeholder="translation"
                        id="translation"
                        class="regular_input"
                        th:value="${word.translation}"/>
                </p>
                <p th:text="'Created: ' + ${word.localDateTime}"></p>
                <hr>
                <p>Langauge: <input
                    type="text"
                    placeholder="Description"
                    id="description"
                    class="regular_input"
                    th:value="${word.description}"/>
                </p>

                <p style="padding: 10px 0 10px 0"><b>Click on value to modify it</b></p>

                <button type="submit">Save changes</button>
                <button type="reset">Reset</button>

            </form>
        </div>
    </div>

</body>
</html>